*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
h2{
    text-align: center;
}

/*utilities*/
.container{
    width: 90%;
    margin: 0 auto;
}

/*header*/
header{
    background-color: gold;
    height: ;
}
header img{
    width: 30%;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
}
.pet{
    background-color: antiquewhite;
    padding: 10px;
    border: 1px solid black;
}
.hightlight{
    border-left: 10px solid yellow;
}

/*about us*/
.about-container{
    display: flex;
    flex-direction: row;
    border: 2px solid brown;
}
.more-about-item{
    margin-right: 10px;
    background-color: antiquewhite;
}
.about-item-text{
    padding: 30px;
}
ul li{
    list-style: none;
}